/* modal.css */

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 0 auto;
  margin-top: 10vh;
  padding: 30px 40px;
  width: 80vw;
  height: 80vh;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
